{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="card border-primary mb-3 shadow p-3 mb-5 bg-white rounded" style="width: 80%;">
        <div class="card-header"><h2><span class="badge badge-secondary">{{user_info.username}}</span></h2></div>
        <div class="card-body text-secondary">
            {{ user_info.displayName}}<br>
            {{ user_info.email }}
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card border-primary mb-3 shadow p-3 mb-5 bg-white rounded" style="width: 100%;">
                <div class="card-header">New Tickets</div>
                <div class="card-body text-secondary">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Assigned To</th>
                            <th scope="col">Reported By</th>
                            <th scope="col">Ticket Age</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for ticket in new_tickets %}
                                <tr>
                                    <th scope="row">{{ ticket.id }}</th>
                                    <td><a href="/ticket_view/{{ticket.id}}/">{{ ticket.title }}</a></td>
                                    {% if ticket.assigned_to != None %}
                                    <td><a href="/user_view/{{ticket.assigned_to.id}}/">{{ ticket.assigned_to }}</a></td>
                                    {% else %}
                                    <td></td>
                                    {% endif %}
                                    <td><a href="/user_view/{{ticket.filed_by.id}}/">{{ ticket.filed_by }}</a></td>
                                    <td>{{ ticket.ticket_age}} day(s)</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card border-primary mb-3 shadow p-3 mb-5 bg-white rounded" style="width: 100%;">
                <div class="card-header">In Progress Tickets</div>
                <div class="card-body text-secondary">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Assigned To</th>
                            <th scope="col">Reported By</th>
                            <th scope="col">Ticket Age</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for ticket in in_prog_tickets %}
                                <tr>
                                    <th scope="row">{{ ticket.id }}</th>
                                    <td><a href="/ticket_view/{{ticket.id}}/">{{ ticket.title }}</a></td>
                                    {% if ticket.assigned_to != None %}
                                    <td><a href="/user_view/{{ticket.assigned_to.id}}/">{{ ticket.assigned_to }}</a></td>
                                    {% else %}
                                    <td></td>
                                    {% endif %}
                                    <td><a href="/user_view/{{ticket.filed_by.id}}/">{{ ticket.filed_by }}</a></td>
                                    <td>{{ ticket.ticket_age}} day(s)</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card border-primary mb-3 shadow p-3 mb-5 bg-white rounded" style="width: 100%;">
                <div class="card-header">Completed Tickets</div>
                <div class="card-body text-secondary">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Assigned To</th>
                            <th scope="col">Reported By</th>
                            <th scope="col">Ticket Age</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for ticket in done_tickets %}
                                <tr>
                                    <th scope="row">{{ ticket.id }}</th>
                                    <td><a href="/ticket_view/{{ticket.id}}/">{{ ticket.title }}</a></td>
                                    {% if ticket.assigned_to != None %}
                                    <td><a href="/user_view/{{ticket.assigned_to.id}}/">{{ ticket.assigned_to }}</a></td>
                                    {% else %}
                                    <td></td>
                                    {% endif %}
                                    <td><a href="/user_view/{{ticket.filed_by.id}}/">{{ ticket.filed_by }}</a></td>
                                    <td>{{ ticket.ticket_age}} day(s)</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card border-primary mb-3 shadow p-3 mb-5 bg-white rounded" style="width: 100%;">
                <div class="card-header">Invalid Tickets</div>
                <div class="card-body text-secondary">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Assigned To</th>
                            <th scope="col">Reported By</th>
                            <th scope="col">Ticket Age</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for ticket in invalid_tickets %}
                                <tr>
                                    <th scope="row">{{ ticket.id }}</th>
                                    <td><a href="/ticket_view/{{ticket.id}}/">{{ ticket.title }}</a></td>
                                    {% if ticket.assigned_to != None %}
                                    <td><a href="/user_view/{{ticket.assigned_to.id}}/">{{ ticket.assigned_to }}</a></td>
                                    {% else %}
                                    <td></td>
                                    {% endif %}
                                    <td><a href="/user_view/{{ticket.filed_by.id}}/">{{ ticket.filed_by }}</a></td>
                                    <td>{{ ticket.ticket_age}} day(s)</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
              </div>
        </div>
    </div>
</div>
{% endblock %}